<template>
  <div id="app">
    <div class="container mx-auto py-8 grid grid-cols-1 gap-4 p-5 sm:grid-cols-1 sm:gap-6 md:grid-cols-2 md:gap-8 md:px-0 lg:grid-cols-3 lg:gap-12 lg:px-0 transition-all duration-200 ease-linear">
      <Card v-for="n in 6" :key="`card-${n}`" />
      <!--  -->
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import Card from "../src/components/Card.vue"

export default {
  name: 'App',
  components: {
    // HelloWorld
    Card
  }
}
</script>
